.popup{
    position: absolute;
    background-color: #fff;
    top: 50px;
    left: 0;
    padding: 33px 31px ;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    &::after{
        content: '';
        position: absolute;
        top: -5px;
        left: 10px;
        transform: rotate(45deg);
        width: 10px;
        height: 10px;
        background-color: #fff;
    }
    a{
        font-family: 'Montserrat';
        color: #020A0D !important;
        font-size: 14px;
        font-weight: 600;
        white-space: nowrap;
        margin-bottom: 27px;
    }
    a:nth-last-child(1){
        margin-bottom: 0;
    }
}


.popupR{
    position: absolute;
    background-color: #fff;
    top: 43px;
    right: -5px;
    padding: 33px 31px ;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 200px;

    @media(max-width: 800px){
        top: 0;
        position: fixed;
        right: 0;
        height: 100vh;
        overflow-y: auto;
        width: 270px;
    }

    @media(max-width: 600px){
        width: 100%;
    }

    &::after{
        content: '';
        position: absolute;
        top: -5px;
        right: 10px;
        transform: rotate(45deg);
        width: 10px;
        height: 10px;
        background-color: #fff;

        @media(max-width: 600px){
            right: 75px;
        }
    }

    &__Language {
        padding-right: 30px;

        & > p:nth-last-child(1) {
            margin-bottom: 0;
        }
    }

    &__Language__btn{
        font-family: 'Montserrat';
        border: none !important;
        white-space: nowrap;
        margin-right: auto;
        color: #020A0D;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 23px;
        cursor: pointer;
        outline: none;
    }

    &__Language__btn__active{
        font-family: 'Montserrat';
        border: none !important;
        white-space: nowrap;
        margin-right: auto;
        color: #020A0D;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 23px;
        cursor: pointer;
        outline: none;
        position: relative;


        &:after {
            content: "";
            width: 15px;
            height: 16px;
            background-image: url("../public/images/purpleCheck.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            font-size: 20px;
            right: -34px;
            top: 0px;
            position: absolute;
            margin-right: 10px;
        }
    }

    &__mobile__back__arrow{
        width: 5px;
        object-fit: contain;
        //height: 16px;
        margin-right: 20px;
    }

    &__mobile__arrow{
        margin-left: 30px;
        width: 5px;
        background-size: contain;
    }
    .closeBtn{
        width: 24px;
        height: 24px;
        font-size: 14px;
        background-color: rgba(93, 99, 102, 0.08);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin-left: auto;
        cursor: pointer;

        &::after{
            content: '\00D7';
            font-size: 25px;
            font-weight: 900;
        }
    }

    a{
        font-family: 'Montserrat';
        color: #020A0D;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 23px;

        @media(min-width: 600px){
            white-space: nowrap;
        }

        &__line{
            font-family: 'Montserrat';
            color: #020A0D;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 23px;
            border-bottom: 1px solid #F2F3F3;
            padding-bottom: 20px;
        }
    }

    &__mobile{
        margin-bottom: 0;

        @media (min-width: 802px) {
            display: none;
        }

        &__close{
            width: 24px;
            height: 24px;
            font-size: 14px;
            background-color: rgba(93, 99, 102, 0.08);
            margin-left: auto;
            border-radius: 50%;
            border: none;
            cursor: pointer;

            @media (min-width: 802px) {
                display: none;
            }
        }

        li {
            list-style-type: none;
            margin-bottom: 23px;
            &:nth-last-child(1){
                margin-bottom: 24px;
                padding-bottom: 24px;
                border-bottom: 1px solid #d7d8d8;
                a{
                    padding-bottom: 24px;
                }
            }
        }

        a{
            font-family: 'Montserrat';
            color: #020A0D;
            font-size: 12px;
            font-weight: 400;
        }

    }

    &__btn{
        font-family: 'Montserrat';
        color: #020A0D;
        background-color: transparent;
        padding-left: 0;
        cursor: pointer;
        text-align: left;
        border: none;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 23px;
        outline: none;
        border-top: 1px solid #d7d8d8;
        padding-top: 23px;
        @media(min-width: 600px){
            white-space: nowrap;
        }
    }

    &__dropDown{
        font-family: 'Montserrat';
        color: #020A0D;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 27px;
        white-space: nowrap;
    }
    &__link:nth-last-child(1){
        margin-bottom: 0;
    }

    &__icon {
        width: 100%;
        height: 20px;
        -webkit-object-fit: contain;
        object-fit: contain;
        object-position: left;
        border-top: 1px solid #d7d8d8;
        padding-top: 23px;
    }
}


.popupC{
    position: absolute;
    background-color: #fff;
    top: 43px;
    right: -5px;
    padding: 33px 31px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    @media(max-width: 600px){
        top: 64px;
        right: 0;
        left: 0;
        width: 100%;
        padding: 21px;
        text-align: center;
    }

    &::after{
        content: '';
        position: absolute;
        top: -5px;
        right: 10px;
        transform: rotate(45deg);
        width: 10px;
        height: 10px;
        background-color: #fff;

        @media(max-width: 600px){
            right: 75px;
        }
    }
    &__link{
        font-family: 'Montserrat';
        color: #020A0D;
        font-size: 16px;
        font-weight: 400;
        text-align: left;
        @media(min-width: 600px){
            white-space: nowrap;
        }
    }

}

.menuBlock{
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 19px;
    margin-right: 19px;
}

.menuBlockRight{
    height: 24px;
    align-items: center;
    display: flex;


    @media(min-width:600px){
        position: relative;
    }
}

.hamburgerMbMenu{
    width: 18px;
    height: 12px;
    margin-left: 37px;
    position: relative;
    cursor: pointer;

    .hamburger1, .hamburger2, .hamburger3 , .hamburger11, .hamburger22, .hamburger33{
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        background: #fff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transition: .25s ease-in-out;
    }

    .hamburger1 {
        top: 0px;
        transform-origin: center center;
    }

    .hamburger2 {
        top: 5px;
        transform-origin: center center;
    }

    .hamburger3 {
        top: 10px;
        transform-origin: center center;
    }

    .hamburger11 {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 4px;
    }

    .hamburger22 {
        width: 0%;
        opacity: 0;
    }

    .hamburger33 {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 4px;
    }
}

.menuBlockRight{
    height: 24px;

    @media(min-width:600px){
        position: relative;
    }
}

.popupF{
    position: absolute;
    width: 140px;
    background-color: #ECE6E5;
    border: 1px solid #AFAFAF;
    border-radius: 15px;
    bottom: -10px;
    right: -15px;
    padding: 14px 19px 14px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    &__item {
        font-family: 'SFProText';
        color: #232526;
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 14px;
        white-space: nowrap;
        position: relative;
        padding-left: 25px;
        cursor: pointer;
    }

    &__item__active{
        font-family: 'SFProText';
        color: #232526;
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 14px;
        white-space: nowrap;
        position: relative;
        padding-left: 25px;
        cursor: pointer;

        &::before {
            content: "";
            width: 15px;
            height: 16px;
            background-image: url("../public/images/checkIcon.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            font-size: 20px;
            left: 2px;
            top: 2px;
            position: absolute;
            margin-right: 10px;
        }
    }

    @media(max-width: 1225px){
        top: 20px;
        bottom: initial;
    }

    &>p:nth-last-child(1){
        margin-bottom: 0;
    }
}

.footer__select{
    width: 33.3%;
    display: flex;
    justify-content: flex-end;
    position: relative;

    @media (max-width: 800px) {
        position: absolute;
        top: 49px;
        right: 30px;
        width: 30px;
    }

    &__box{
        display: flex;
        cursor: pointer;
    }
}

.footer__drop{
    color: #ffffff80;
    font-family: 'Montserrat';
    margin-left: 20px;
    font-size: 14px;
    white-space: nowrap;

    &>.footer__arrow {
        margin-left: 8px;
    }

    &>.footer__arrowActive {
        margin-left: 8px;
        transform: rotate(-90deg);
    }

    @media (max-width: 1225px) {
        margin-left: 0;
    }
}
